<div class="large-4 small-6 columns product-teaser">
  <%= link_to [spree, product] do %>
    <% image = product_images(product) %>
    <% if image && image.attachment %>
      <%= image_tag image.attachment.url(:product) %>
    <% end %>
  <% end %>

  <div class="panel">
    <h5><%= link_to product.name, [spree, product] %></h5>
    <h6 class="subheader"><%= number_to_currency product.price %></h6>
  </div>
</div>
